.feed {
	flex: 0.6;
	margin: 0 20px;
	.inputContainer {
		background: white;
		padding: 10px 10px 20px 10px;
		border-radius: 10px;
		margin-bottom: 20px;
		.input {
			border: 1px solid lightgray;
			display: flex;
			padding: 10px 10px 10px 15px;
			border-radius: 30px;
			color: gray;
			form {
				display: flex;
				width: 100%;
				button {
					display: none;
				}
				input {
					border: none;
					flex: 1;
					margin-left: 10px;
					outline-width: 0;
					font-weight: 600;
				}
			}
		}
	}
	.inputOptions {
		display: flex;
		justify-content: space-evenly;
	}
}
